.Landing {
  margin: auto;
  background: #d7ced0;
  padding-bottom: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  align-items: center;
}

.Landing-links {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  font-size: 11rem;
  z-index: 100;
  text-align: left;
}

.Landing-link1 {
  text-decoration: none;
  color: rgba(43, 40, 41, 0.8);
  opacity: 0.8;
}

.Landing-link1Hover {
  padding-left: 25rem;
  text-decoration: none;
  color: rgba(43, 40, 41, 0.8);
  opacity: 0.8;
}

.Landing-link2 {
  text-decoration: none;
  color: #71a37c;
}

.Landing-link2Hover {
  padding-left: 25rem;
  text-decoration: none;
  color: #71a37c;
}

.Landing-link3 {
  text-decoration: none;
  color: #71a37c;
}

.Landing-link3Hover {
  padding-left: 25rem;
  text-decoration: none;
  color: #71a37c;
}

.Landing-imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Landing-image {
  position: fixed;
  top: 0rem;
  left: 40rem;
  width: 45vw;
}
